---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Alegreya|Crimson+Text|Droid+Serif|Lato|Libre+Baskerville|Lora:400,400i|Muli:400,400i|Noto+Serif:400,400i|Open+Sans:400,400i|PT+Sans|PT+Serif|Playfair+Display:400,400i|Quattrocento|Quicksand|Raleway:400,400i|Source+Serif+Pro|Trirong|Work+Sans');

/*
 * Variables
 */

$base-font-family: 'Muli', sans-serif;
$heading-font-family: 'Raleway', sans-serif;
$title-font-family: 'Lora', serif;
$menu-font-family: 'Quicksand', sans-serif;

$base-font-size:   1.5em;
$base-font-weight: 400;
$base-line-height: 1.35;

$small-font-size:  $base-font-size * 0.875;

$title-size:       3em;
$tagline-size:     1.75em;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$link-color:       #2a7ae2;

$header-color:          #000;
$header-text-color:     #fff;
$header-height:         62px;

$footer-color:          rgba(0, 0, 0, 0.75);
$footer-text-color:     #fff;
$footer-height:         200px;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$border-color:       #222;
$border-color-light: lighten($border-color, 15%);
$border-color-dark:  #1d1d1d;

$icon-green:       #9dcd58;
$sky-blue:         #90c3d4;

// Images
$splash-background:     url({{ site.baseurl | append: '/images/backgrounds/vector-black.jpeg' }});
$home-nav-icon:    url({{ site.baseurl | append: '/images/icons/white-sun.png' }});
$blackstone-background: url({{ site.baseurl | append: '/images/backgrounds/vector-boxes.png' }});
$atmosphere-background: url({{ site.baseurl | append: '/images/backgrounds/earth-space.jpg' }});

// Icons
$who-icon:         url({{ site.baseurl | append: '/images/icons/who-we-are-inverted.png'}});
$what-icon:        url({{ site.baseurl | append: '/images/icons/what-we-do-inverted.png'}});
$how-icon:         url({{ site.baseurl | append: '/images/icons/how-we-do-it-inverted.png'}});
$why-icon:         url({{ site.baseurl | append: '/images/icons/why-we-do-it-inverted.png'}});

// x and y values for for home-nav icons
$top:              248px, 15px;
$bottom:           108px, 162px;

// parallax
$perspective:      100;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

/*
 * Mixins
 */

// default settings for centering a background image and fitting it to a div
@mixin background-image ($image, $x: center, $y: center) {
    background-image: $image;
    background-position: $x $y;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
    settings for a layer of a parallax-group div
    first line calculates scale to preserve original size
    when translated backwards
    second line calculates minimum height adjusment necessary
    for the layer to always fill the width of its parent parallax-group
*/

@mixin parallax ($depth: 0) {
    $scale: calc(1 - #{$depth} / #{$perspective});
    $height-adjust: calc((1 - (1 / #{$scale})) * (100vh - 100%) / -2);
    position: absolute;
    top: $height-adjust; bottom: $height-adjust; left: 0; right: 0;
    -webkit-transform: translateZ($depth * 1px) scale($scale);
    transform: translateZ($depth * 1px) scale($scale);
}

// settings for left-side nav-icons
@mixin nav-left ($which, $scale) {
    top: nth($which, 2) * $scale;
    left: nth($which, 1) * $scale;
    transform: translate(-100%, 0);
    .nav-icon {
        float: right;
        margin-left: $spacing-unit / 2 * $scale;
    }
}

// settings for right-side nav-icons
@mixin nav-right ($which, $scale) {
    top: nth($which, 2) * $scale;
    right: nth($which, 1) * $scale;
    transform: translate(100%, 0);
    .nav-icon {
        float: left;
        margin-right: $spacing-unit / 2 * $scale;
    }
}

// mixin for the entire home nav with a scale variable

@mixin home-nav ($scale: 1) {
    $main-dur: .8s;
    $item-dur: .5s;

    #home-nav {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        width: 600px * $scale;
        height: 600px * $scale; // might want to make an actual image, not background, so I can omit this / set it to auto
        background-image: $home-nav-icon;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        animation-name: spin-up;
        animation-duration: $main-dur;
        animation-timing-function: cubic-bezier(0,.42,.08,1);
        
        a {
            position: absolute;
            display: block;
        }

    }
        
    .nav-icon {
        display: block;
        height: 100px * $scale;
        width: 100px * $scale;
    }

    .nav-text {
        display: inline;
        color: white;
        font-family: $menu-font-family;
        font-size: 1.5em * $scale;
        text-transform: capitalize;
        line-height: 100px * $scale;
    }

    #nav-who {
        @include nav-left($bottom, $scale);
        .nav-icon {
            @include background-image($who-icon);
            
            animation-name: fade-spin-left;
            animation-duration: $item-dur;
            animation-fill-mode: backwards;
            animation-delay: $main-dur;
        }
        
        .nav-text {
            animation-name: fade-slide-left;
            animation-duration: $item-dur;
            animation-fill-mode: backwards;
            animation-delay: $main-dur;
        }
    }

    #nav-what {
        @include nav-left($top, $scale);
        
        .nav-icon {
            @include background-image($what-icon);
            
            animation-name: fade-spin-left;
            animation-duration: $item-dur;
            animation-fill-mode: backwards;
            animation-delay: $main-dur + 0.1s;
        }
        
        .nav-text {
            animation-name: fade-slide-left;
            animation-duration: $item-dur;
            animation-fill-mode: backwards;
            animation-delay: $main-dur + 0.1s;
        }
    }

    #nav-how {
        @include nav-right($top, $scale);
        .nav-icon {
            @include background-image($how-icon);
            
            animation-name: fade-spin-right;
            animation-duration: $item-dur;
            animation-fill-mode: backwards;
            animation-delay: $main-dur + 0.2s;
        }
        
        .nav-text {
            animation-name: fade-slide-right;
            animation-duration: $item-dur;
            animation-fill-mode: backwards;
            animation-delay: $main-dur + 0.2s;
        }
    }

    #nav-why {
        @include nav-right($bottom, $scale);
        .nav-icon {
            @include background-image($why-icon);
            
            animation-name: fade-spin-right;
            animation-duration: $item-dur;
            animation-fill-mode: backwards;
            animation-delay: $main-dur + 0.3s;
        }
        
        .nav-text {
            animation-name: fade-slide-right;
            animation-duration: $item-dur;
            animation-fill-mode: backwards;
            animation-delay: $main-dur + 0.3s;
        }
    }
}

/*
 * Animations
 */

@keyframes fade-spin-left {
    from {
        opacity: 0;
        transform: perspective(calc(#{$perspective} * 1px)) rotateY(90deg);
    }
    to {
        opacity: 1;
        transform: perspective(calc(#{$perspective} * 1px)) rotateY(0deg);
    }
}

@keyframes fade-spin-right {
    from {
        opacity: 0;
        transform: perspective(calc(#{$perspective} * 1px)) rotateY(-90deg);
    }
    to {
        opacity: 1;
        transform: perspective(calc(#{$perspective} * 1px)) rotateY(0deg);
    }
}

@keyframes fade-slide-left {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade-slide-right {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes spin-up {
    from {transform: translate(-50%, 100%) rotate(-360deg);}
    to {transform: translate(-50%, 50%) rotate(0deg);}
}
    

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "header",
        "footer",
        "home",
        "parallax",
        "syntax-highlighting"
;
