---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Alegreya|Crimson+Text|Droid+Serif|Lato|Libre+Baskerville|Lora:400,400i|Muli:400,400i|Noto+Serif:400,400i|Open+Sans:400,400i|Open+Sans+Condensed:300:300i|PT+Sans|Pt+Sans+Narrow|PT+Serif|Playfair+Display:400,400i|Quattrocento|Quicksand|Raleway:400,400i|Source+Serif+Pro|Trirong|Work+Sans');

@import url('https://fonts.googleapis.com/css?family=BenchNine:300,400|News+Cycle|Pragati+Narrow|Yantramanav:300'); // Menu Fonts

/*
 * Variables
 */

$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Raleway', sans-serif;
$title-font-family: 'Lora', serif;
$header-font-family: 'Open Sans Condensed', sans-serif;
$nav-font-family: 'Quicksand', sans-serif;

$base-font-size:   1.2em;
$base-font-weight: 400;
$base-line-height: 1.35;

$small-font-size:  $base-font-size * 0.875;

$title-size:       2.65em;
$tagline-size:     1.58em;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #fdfdfd;
$link-color:       #2a7ae2;

$header-color:          #000;
$header-text-color:     #fff;
$header-height:         62px;

$footer-color:          rgba(0, 0, 0, 0.75);
$footer-text-color:     #fff;
$footer-height:         200px;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$border-color:       #222;
$border-color-light: lighten($border-color, 15%);
$border-color-dark:  #1d1d1d;

$icon-green:       #9dcd58;
$sky-blue:         #90c3d4;
$div-color-1:      white;
$div-color-2:      ghostwhite;

// Images
$splash-background:     url({{ site.baseurl | append: '/images/ben/panels-09.jpg' }});
$home-nav-icon:    url({{ site.baseurl | append: '/images/icons/white-sun.png' }});
$blackstone-background: url({{ site.baseurl | append: '/images/backgrounds/vector-boxes.png' }});
$atmosphere-background: url({{ site.baseurl | append: '/images/backgrounds/earth-space.jpg' }});

// Icons
$who-icon:         url({{ site.baseurl | append: '/images/icons/who-we-are-inverted.png'}});
$what-icon:        url({{ site.baseurl | append: '/images/icons/what-we-do-inverted.png'}});
$how-icon:         url({{ site.baseurl | append: '/images/icons/how-we-do-it-inverted.png'}});
$why-icon:         url({{ site.baseurl | append: '/images/icons/why-we-do-it-inverted.png'}});

// Home Nav
$home-nav-size:    525px;
$nav-icon-size:    115px;
$nav-text-size:    1.5em;

$top:              0.3087, 0.0381;
$bottom:           0.0381, 0.3087;

// Parallax
$perspective:      100;

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        800px;

/*
 * Mixins
 */

// default settings for centering a background image and fitting it to a div
@mixin background-image ($image, $x: center, $y: center) {
    background-image: $image;
    background-position: $x $y;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
    settings for a layer of a parallax-group div
    first line calculates scale to preserve original size
    when translated backwards
    second line calculates minimum height adjusment necessary
    for the layer to always fill the width of its parent parallax-group
*/

@mixin parallax ($depth: 0) {
    $scale: calc(1 - #{$depth} / #{$perspective});
    $height-adjust: calc((1 - (1 / #{$scale})) * (100vh - 100%) / -2);
    position: absolute;
    top: $height-adjust; bottom: $height-adjust; left: 0; right: 0;
    -webkit-transform: translateZ($depth * 1px) scale($scale);
    transform: translateZ($depth * 1px) scale($scale);
}

// settings for left-side nav-icons
@mixin nav-left ($which, $scale) {
    top: nth($which, 2) * $home-nav-size * $scale;
    left: nth($which, 1) * $home-nav-size * $scale;
    transform: translate(calc(-100% + (#{$nav-icon-size} / 2 * #{$scale})), -50%);
    .nav-icon {
        float: right;
        margin-left: $spacing-unit / 2 * $scale;
    }
}

// settings for right-side nav-icons
@mixin nav-right ($which, $scale) {
    top: nth($which, 2) * $home-nav-size * $scale;
    right: nth($which, 1) * $home-nav-size * $scale;
    transform: translate(calc(100% - (#{$nav-icon-size} / 2 * #{$scale})), -50%);
    .nav-icon {
        float: left;
        margin-right: $spacing-unit / 2 * $scale;
    }
}

// mixin for the entire home nav with a scale variable

@mixin home-nav ($scale: 1, $text: true) {
    $main-dur: 1s;
    $item-dur: .8s;

    #home-nav {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        width: $home-nav-size * $scale;
        height: $home-nav-size * $scale;
        background-image: $home-nav-icon;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        transition: .5s;
        animation-name: spin-up;
        animation-duration: $main-dur;
        animation-timing-function: cubic-bezier(0,.42,.08,1);
        animation-delay: 0.2s;
        animation-fill-mode: backwards;
        
        a {
            position: absolute;
            display: block;

            transition: inherit;
            animation-name: fade-in;
            animation-duration: $item-dur;
            animation-fill-mode: backwards;

            &:hover {
                text-decoration: none;
            }
        }

    }
        
    .nav-icon {
        display: block;
        height: $nav-icon-size * $scale;
        width: $nav-icon-size * $scale;

        transition: inherit;
        animation-duration: inherit;
        animation-delay: inherit;
        animation-fill-mode: inherit;

        &:hover {
            transform: scale(1.1);
        }
    }

    .nav-text {
        @if $text {
            display: inline;
        } @else {
            display: none;
        }
        color: white;
        font-family: $nav-font-family;
        font-size: $nav-text-size * $scale;
        text-transform: capitalize;
        line-height: $nav-icon-size * $scale;
        transition: inherit;
    }

    #nav-who {
        @include nav-left($bottom, $scale);
        animation-delay: $main-dur;
        .nav-icon {
            @include background-image($who-icon);
            animation-name: rotate-left;
        }
    }

    #nav-what {
        @include nav-left($top, $scale);
        animation-delay: $main-dur + 0.1s;
        .nav-icon {
            @include background-image($what-icon);
            animation-name: rotate-left;
        }
    }

    #nav-how {
        @include nav-right($top, $scale);
        animation-delay: $main-dur + 0.2s;
        .nav-icon {
            @include background-image($how-icon);
            animation-name: rotate-right;
        }
    }

    #nav-why {
        @include nav-right($bottom, $scale);
        animation-delay: $main-dur + 0.3s;
        .nav-icon {
            @include background-image($why-icon);
            animation-name: rotate-right;
        }
    }
}

/*
 * Animations
 */

@keyframes rotate-left {
    from {
        transform: perspective(180px) rotateY(90deg);
    }
    to {
        transform: perspective(180px) rotateY(0deg);
    }
}

@keyframes rotate-right {
    from {
        transform: perspective(180px) rotateY(-90deg);
    }
    to {
        transform: perspective(180px) rotateY(0deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin-up {
    from {transform: translate(-50%, 100%) rotate(-180deg);}
    to {transform: translate(-50%, 50%) rotate(0deg);}
}
    

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "header",
        "footer",
        "home",
        "parallax",
        "syntax-highlighting"
;
