---
layout: page
title: Onyx Careers
menu-title: Careers
---

<h2>Open Positions</h2>

<ul class="job-list">
    {% assign sorted_jobs = site.careers | sort: 'date' | reverse %}
    {% for job in sorted_jobs %}
        <li>
            <span class="job-meta">{{ job.date | date: "%b %-d, %Y" }}</span>

            <h3>
                <a class="job-link" href="{{ job.url | prepend: site.baseurl }}">{{ job.title }}</a>
            </h3>
        </li>
    {% endfor %}
</ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

{% capture join_our_team %}{% include join-our-team.md %}{% endcapture %}
{{ join_our_team | markdownify }}
