---
layout: parallax
---
<article>

    {% capture gibberish %}{% include lorem-ipsum.md %}{% endcapture %}
    {% capture who %}{% include _home/who-we-are.md %}{% endcapture %}
    {% capture what %}{% include _home/what-we-do.md %}{% endcapture %}
    {% capture how %}{% include _home/how-we-do-it.md %}{% endcapture %}
    {% capture why %}{% include _home/green-pitch.md %}{% endcapture %}
    {% capture blackstone %}{% include _home/blackstone.md %}{% endcapture %}

    <div class="parallax-container">

        <div class="parallax-group" id="splash">

            <div id="splash-background"></div>

            <div class="wrapper" id="splash-content">

                <h1 class="site-title">{{ site.title }}</h1>

                <p class="site-description">{{ site.description }}</p>

                <nav id="home-nav">
                    <a class="nav-who" href="#who-we-are">
                        <img src="{{ site.baseurl }}/images/icons/who-we-are-inverted.png" alt="">
                        Who we are
                    </a>
                    <a class="nav-what" href="#what-we-do">
                        <img src="{{ site.baseurl }}/images/icons/what-we-do-inverted.png" alt="">
                        What we do
                    </a>
                    <a class="nav-how" href="#how-we-do-it">
                        <img src="{{ site.baseurl }}/images/icons/how-we-do-it-inverted.png" alt="">
                        How we do it
                    </a>
                    <a class="nav-why" href="#why-we-do-it">
                        <img src="{{ site.baseurl }}/images/icons/why-we-do-it-inverted.png" alt="">
                        Why we do it
                    </a>
                </nav>

            </div>

        </div> 

    </div>
    
    <div class="section stretch" id="who-we-are">

        <a name="who-we-are"></a>
        
        <h2>Who we are</h2>

        {{ who | markdownify }}

        <!--{{ gibberish | truncate: 1000 | markdownify }}-->

    </div>

    <div class="parallax-container">

        <div class="parallax-group">

            <div id="blackstone-background"></div>

            <div class="section wrapper">

                <h3>Our partnership with Blackstone</h3>

                {{ blackstone | markdownify }}

            </div>

        </div>

    </div>

    <div class="section stretch" id="what-we-do">

        <a name="what-we-do"></a>
        
        <h2>What we do</h2>

        {{ what | markdownify }}

    </div>

    <!--
        <h3>Our goals</h3>
        <ol>
            <li><span class="goal">Establish</span> sustainable, mutually beneficial relationships</li>
            <li><span class="goal">Achieve</span> the most economical costs for services</li>
            <li><span class="goal">Provide</span> great quality, service, and expertise to our clients</li>
            <li><span class="goal">Protect</span> the environment</li>
        </ol>
    -->

    <div class="section stretch" id="how-we-do-it">

        <a name="how-we-do-it"></a>
        
        <h2>How we do it</h2>

        {{ how | markdownify }}

    </div>

    <div class="section stretch" id="why-we-do-it">

        <a name="why-we-do-it"></a>
        
        <h2>Why we do it</h2>

        {{ why | markdownify }}

    </div>

</article>
