---
layout: page
title: Our Team
menu-title: Our Team
---

<ul class="members-list">
    {% for member_name in site.data.team %}
        {% for member in site.team %}
            {% if member.name == member_name %}
                <li>
                    <h2>{{ member.name }}, {{ member.job }}</h2>
                    <div>
                        <img class="headshots" src="{{ member.image | prepend: site.baseurl }}" alt="">
                        {{ member.content }}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>
