/**
 * Home
 */

#splash {
    height: 100vh;
    margin-top: (-$header-height);
}

#splash-background {
    z-index: -2;
    background-color: #000;
    @include parallax(-200);
    @include background-image($splash-background);
}

#splash-content {
    padding-top: $header-height + $spacing-unit;
    overflow: visible;
    z-index: -1;
    @include parallax(-100);
}

@include home-nav($scale: 1.25);

@media screen and (max-width: $content-max) {
    @include home-nav($scale: 1);
}

@media screen and (max-width: $content-mid) {
    @include home-nav($scale: 0.82);
}

@media screen and (max-width: $content-min) {
    @include home-nav($scale: 0.82, $text: false);
}

@media screen and (max-width: $on-palm) {
    #home-nav {
        display: none;
    }
}

.site-title {
    display: none;
    font-family: $title-font-family;
    font-size: $title-size;
    letter-spacing: -1px;
    line-height: 1;
    color: white;

    @media screen and (max-width: $on-laptop) {
        font-size: $title-size * 0.78;
    }
    @media screen and (max-width: $on-palm) {
        font-size: $title-size * 0.65;
    }
}

.site-description {
    display: none;
    font-family: $title-font-family;
    font-size: $tagline-size;
    font-style: italic;
    line-height: 1;
    color: white;

    @media screen and (max-width: $on-laptop) {
        font-size: $tagline-size * 0.78;
    }
    @media screen and (max-width: $on-palm) {
        font-size: $tagline-size * 0.65;
    }
}

main > div {
    background-color: $div-color-1;
    &:nth-child(2n) {
        background-color: $div-color-2;
    }
}

.section {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    z-index: 1;

    h2 {
        font-size: 2em;
        line-height: 1;
        text-transform: capitalize;
        text-decoration: none;
        border-bottom: 1px solid $text-color;
    }

    h3 {
        font-size: 1.75em;
        line-height: 1;
        text-transform: capitalize;
        text-decoration: none;
    }
}

#blackstone-background {
    @include parallax(-100);
    @include background-image($blackstone-background);
}

#blackstone {
    color: white;
}

#call-to-action {
    text-align: center;

    h2 {
        border: none;
    }

    .button {
        display: inline-block;
    }
}

#contact-background {
    @include parallax(-100);
    @include background-image($image: $contact-background, $y: bottom);
}

#contact-info {
    min-height: calc(100vh - #{$header-height});
    padding-bottom: $footer-height;
    max-width: 300px;
    color: white;
    line-height: 1.5;
    h2 {
        margin-top: $spacing-unit;
        border-color: white;
    }
    p {
        display: inline-block;
        margin-bottom: 2em;
    }
}
