/**
 * Home
 */

#splash {
    height: 100vh;
    margin-top: (-$header-height);
}

#splash-background {
    z-index: -2;
    background-color: #000;
    @include parallax(-200);
    @include background-image($splash-background);
}

#splash-content {
    padding-top: $header-height + $spacing-unit;
    overflow: visible;
    z-index: -1;
    @include parallax(-100);
}

@include home-nav($scale: 1.25);

@media screen and (max-width: 1280px) {
    @include home-nav($scale: 1);
}

@media screen and (max-width: 1000px) {
    @include home-nav($scale: 0.82);
}

@media screen and (max-width: 800px) {
    @include home-nav($scale: 0.82, $text: false);
}

@media screen and (max-width: $on-palm) {
    #home-nav {
        display: none;
    }
}

.site-title {
    display: none;
    font-family: $title-font-family;
    font-size: $title-size;
    letter-spacing: -1px;
    line-height: 1;
    color: white;

    @media screen and (max-width: $on-laptop) {
        font-size: $title-size * 0.78;
    }
    @media screen and (max-width: $on-palm) {
        font-size: $title-size * 0.65;
    }
}

.site-description {
    display: none;
    font-family: $title-font-family;
    font-size: $tagline-size;
    font-style: italic;
    line-height: 1;
    color: white;

    @media screen and (max-width: $on-laptop) {
        font-size: $tagline-size * 0.78;
    }
    @media screen and (max-width: $on-palm) {
        font-size: $tagline-size * 0.65;
    }
}

.section {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    z-index: 1;

    h2 {
        font-size: 2em;
        line-height: 1;
        text-transform: capitalize;
        text-decoration: none;
        border-bottom: 1px solid $text-color;
    }

    h3 {
        font-size: 1.75em;
        line-height: 1;
        text-transform: capitalize;
        text-decoration: none;
    }
}

#who-we-are {
    background-color: $div-color-1;
}

#blackstone-background {
    @include parallax(-100);
    @include background-image($blackstone-background);
}

#blackstone {
    color: white;
}

#what-we-do {
    background-color: $div-color-2;
}

#how-we-do-it {
    background-color: $div-color-1;
}

#why-group {
    padding-bottom: $footer-height + ($spacing-unit * 4);
}

#why-background {
    @include parallax(-50);
    @include background-image($image: $atmosphere-background, $y: top);
}

#why-we-do-it {
    color: white;
    h2 {
        border-color: white;
    }
}
