/**
 * Home
 */

#splash {
    height: 100vh;
    margin-top: (-$header-height);
}

#splash-background {
    z-index: -2;
    @include parallax(-200);
    @include background-image($splash-background);
}

#splash-content {
    padding-top: $header-height + $spacing-unit;
    overflow: visible;
    z-index: -1;
    @include parallax(-100);
}

.site-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    color: white;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.site-description {
    font-size: 26px;
    font-style: italic;
    line-height: 1;
    color: white;

    @include media-query($on-laptop) {
        font-size: 20px;
    }
}

.section {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    z-index: 1;
    color: white;

    h2 {
        text-decoration: none;
        border-bottom: 1px solid white;
    }
}

#who-we-are {
    background-color: $icon-green;
}

#blackstone-background {
    @include parallax(-100);
    @include background-image($blackstone-background);
}

#what-we-do {
    background-color: $sky-blue;
}

#how-we-do-it {
    background-color: $icon-green;
}

#why-we-do-it {
    padding-bottom: $footer-height + ($spacing-unit * 4);
}

#why-background {
    height: 140vh;
    @include parallax(-50);
    @include background-image($image: $atmosphere-background, $y: top);
}
