/**
 * Site header
 */
.site-header {
    position: relative; // Positioning context for the mobile navigation icon
    border-top: 5px solid $border-color-dark;
    border-bottom: 1px solid $border-color-light;
    min-height: 56px;
    z-index: 1;
    color: $header-text-color;
    background-color: $header-color;
}

.site-logo {
    width: auto;
    height: 56px;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $header-text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $header-color;
        border: 1px solid $border-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $border-color-light;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $border-color-light;
    padding: $spacing-unit 0;
    color: $footer-text-color;
    background-color: $footer-color;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Basic
 */
.header {
    margin-bottom: $spacing-unit;
}

.title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.content {
    h2 { //this should all be basic
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.collection-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.collection-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.collection-link {
    display: block;
    font-size: 24px;
}

/**
 * Page content
 */

// should be basic

.page-header {
    @extend .header;
}

.page-title {
    @extend .title;
}

.page-content {
    @extend .content;
}

/**
 * Home
 */

#splash {
    height: 100vh;
    margin-top: -62px;
}

#splash-background {
    z-index: -2;
    @include parallax(-200);
    @include background-center($splash-background);
}

#splash-content {
    padding-top: 62px + $spacing-unit;
    overflow: visible;
    z-index: -1;
    @include parallax(-100);
}

.site-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    color: white;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.site-description {
    font-size: 26px;
    font-style: italic;
    line-height: 1;
    color: white;

    @include media-query($on-laptop) {
        font-size: 20px;
    }
}

#home-nav {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    width: 600px;
    height: 600px; // might want to make an actual image, not background, so I can omit this / set it to auto
    background-image: $home-nav-icon;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    a {
        position: absolute;
        display: block;
        color: white;
        font-size: 1.5em;
        text-transform: capitalize;
        line-height: 100px;
    }
    
    img {
        display: block;
        height: 100px;
        width: 100px;
    }

    .nav-who {
        @include nav-left($bottom);
    }

    .nav-what {
        @include nav-left($top);
    }

    .nav-how {
        @include nav-right($top);
    }

    .nav-why {
        @include nav-right($bottom);
    }

}

.section {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    z-index: 1;
    color: white;

    h2 {
        text-decoration: none;
        border-bottom: 1px solid white;
    }
}

#who-we-are {
    background-color: $icon-green;
}

#blackstone-background {
    @include parallax(-100);
    @include background-center($blackstone-background);
}

#what-we-do {
    background-color: $sky-blue;
}

#how-we-do-it {
    background-color: $icon-green;
}

#why-we-do-it {
    background-color: $sky-blue;
}


/**
 * News
 */

.news-list {
    @extend .collection-list;
}

.news-meta {
    @extend .collection-meta;
}

.news-link {
    @extend .collection-link;
}

.news-header {
    @extend .header;
}

.news-title {
    @extend .title;
}

.news-content {
    @extend .content;
}

/**
 * Jobs
 */

.jobs-list {
    @extend .collection-list;
}

.job-meta {
    @extend .collection-meta;
}

.job-link {
    @extend .collection-link;
}

.job-header {
    @extend .header;
}

.job-title {
    @extend .title;
}

.job-content {
    @extend .content;
}

/**
 * Team
 */

.members-list {
    @extend .news-list;
}

.member-title {
    @extend .title;
}

.member-content {
    @extend .content;
    img {
        float: right;
        margin: 0 0 10px 10px;
        width: 30%;
        height: auto;
    }
}
