/**
 * Basic
 */
.header {
    margin-bottom: $spacing-unit;
}

.title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @media screen and (max-width: $on-laptop) {
        font-size: 36px;
    }
}

.content {
    h2 { //this should all be basic
        font-size: 32px;

        @media screen and (max-width: $on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @media screen and (max-width: $on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @media screen and (max-width: $on-laptop) {
            font-size: 18px;
        }
    }
}

.collection-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.collection-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.collection-link {
    display: block;
    font-size: 24px;
}

/**
 * Page content
 */

// should be basic

.page-header {
    @extend .header;
}

.page-title {
    @extend .title;
}

.page-content {
    @extend .content;
}



/**
 * News
 */

.news-list {
    @extend .collection-list;
}

.news-meta {
    @extend .collection-meta;
}

.news-link {
    @extend .collection-link;
}

.news-header {
    @extend .header;
}

.news-title {
    @extend .title;
}

.news-content {
    @extend .content;
}

/**
 * Jobs
 */

.jobs-list {
    @extend .collection-list;
}

.job-meta {
    @extend .collection-meta;
}

.job-link {
    @extend .collection-link;
}

.job-header {
    @extend .header;
}

.job-title {
    @extend .title;
}

.job-content {
    @extend .content;
}

/**
 * Team
 */

.members-list {
    @extend .news-list;
}

.member-title {
    @extend .title;
}

.member-content {
    @extend .content;
    img {
        float: right;
        margin: 0 0 10px 10px;
        width: 30%;
        height: auto;
    }
}
